{% extends "main.html" %}
{% block title %}Create Group{% endblock %}

{% block head %}
<!--<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/create-event.css') }}">-->
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.css">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/create-group.css') }}">

{% endblock %}
<style type="text/css">
    .navbar{
        margin-bottom: 0;
    }
</style>
{% block bodyContent %}
    <div class="video-group">
            <div class="video-container">
                <div class="filter"></div>
                <video autoplay loop class="fillWidth">
                    <source src="{{url_for('static', filename='video/MP4/Sunset-Lapse.mp4')}}" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
                    <source src="{{url_for('static', filename='video/WEBM/Sunset-Lapse.webm')}}" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
                </video>
                <div class="poster hidden">
                    <img src="{{url_for('static', filename='video/Snapshots/Sunset-Lapse.jpg')}}" alt="">
                </div>
            </div>
    </div>

      <div id = "events" class="group-form">
        <form name="createform" method="post" class="form-horizontal" action="">
            <div class="form-group">
                <label for="groupName">Name of Group:</label>
                <input id="groupName" type="text" name="groupName" placeholder="Name of the Group" required class="form-control">
                <br>
                <label for="description">Description:</label>
                <textarea class="form-control" rows="3" id="description" name='description'></textarea>
                <br>
                <br>
                <center>
                    <button type="submit" id="submitButton"class="btn btn-primary">Submit</button>
                </center>
            </div>
        </form>
      </div>

{% endblock %}
{% block js %}
<script type="text/javascript" src="{{ url_for('static', filename='js/create-group.js')}}"></script>
{% endblock %}
